.card {
  width: 250px;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  background: white;
}

.card img {
  width: 100%;
  height: 150px;
}

.card h3 {
  font-size: 18px;
  margin: 5px 0;
}

.card p {
  margin: 5px 0;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

/* For small screens */
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}